NEXT_PUBLIC_SUPABASE_URL=https://mbifjgsfuzsnkuwllrjy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1iaWZqZ3NmdXpzbmt1d2xscmp5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5ODE4NTAsImV4cCI6MjA5MjU1Nzg1MH0.OT6jH27KuGl3sgTcdce0gBR_rz2WPIivg-jGi52sKR8
